.container{
  background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgba(223, 221, 221, 0.801);
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}